html,
body {
  padding: 0;
  margin: 0;
}
* {
  font-family: "Press Start 2P", cursive;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#options {
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 1.3em;
  text-align: center;
}

#game-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 40px;
  background-color: white;
}

#modal-result {
  position: absolute;
  background-color: white;
  font-size: 2em;
  min-width: 300px;
  min-height: 300px;
  width: 40vw;
  height: 30vw;
  padding: 10px;
  border: 1px dotted black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#modal-close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline;
}
#modal-close-button:hover {
  cursor: pointer;
}

.game-cell {
  min-width: 50px;
  min-height: 50px;
  width: 30vw;
  height: 30vw;
  max-width: 250px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: 900;
  transition: all 0.5s ease;
}

.game-cell:hover {
  cursor: pointer;
}

#game-box-2,
#game-box-8 {
  border-left: 1px dotted black;
  border-right: 1px dotted black;
}
#game-box-4,
#game-box-6 {
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

#game-box-5 {
  border: 1px dotted black;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.player {
  color: rgb(0, 0, 175);
  animation: pop 1s both;
}

.computer {
  color: rgb(175, 0, 0);
  animation: pop 1s both;
}

@media (max-width: 600px) {
  select {
    height: 45px;
  }
  button {
    margin-top: 20px;
  }
}
